#login-popup {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding:20px 40px 80px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    
  }
  .Media-icons{
    display: flex;
    flex-direction: row;
    gap: 5px;
   
    
  }
  .Media-icons img{ 
    align-items: center;
    padding: 7px 15px 7px 15px;
    width: 20px; 
  }
  .Media-icons-google{
    background-color: rgb(219, 50, 54);
    border-radius: 3px;
   
    /* filter: invert(100); */
  }
  .google{
    filter: invert(100);
  
  }

  .Media-icons-facebook{
    /* width: 15px;
    height: 20px; */
    background-color: rgb(59, 89, 152);
    border-radius: 3px;
  }
  .facebook{
    filter: invert();
    
  }
  .Media-icons-twitter{
    /* width: 13px;
    height: 20px; */
    background-color: rgb(0, 172, 237);
    border-radius: 3px; 
    /* filter: invert(100); */
  }
  .twitter{
    filter: invert(100);
  }
  .Media-icons-linkedin{
    background-color: rgb( 0, 119, 181);
    border-radius: 3px;
    /* filter: invert(100); */
  }
  .linkedin{
    filter: invert(100);
  }
  .bullet-list{
    list-style-type: disc;
    margin-left: -24px; 
    opacity: 0.7; 
    font-size: 15px;
  
  }

  .free-account p{
    font-size: 14px;
  }
  .free-account{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 25px;
    margin-left: -30px;
    margin-top: -30px;
    
  }

  .New{
    font-weight: bolder;
    
  }


  li{
    margin-bottom: 13px;
    font-size: 14px;
  }

  .login-page{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    
  }
  .login-page-paragraph {
    margin-top: -60px;
    margin-left: -1px;
    background-color: orangered;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 4px;
    color: white;
    width: 90%;
    position: absolute;
    margin-right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }

  .profile-icon{
    filter: invert(100);
    margin-left: -45px;
  }
  .close-icon{
   
    border-radius: 50%;
    background-color:white;
    padding: 7px;
    margin-right: 10px;
  }
  .Sign-in{
    margin-left: -320px;
    font-weight: 700;
  }

  input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 40px;
    gap: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    opacity: 0.9;
    font-weight: 600;
    outline: none;
    
    
  }

  input::placeholder {
    color: black; 
    opacity: 0.5;
    font-size: smaller;
    
  }

.profile-email img{
  padding: 14px; 
  background-color: gray;
  margin-bottom: -19px;
  margin-left: 5px;
  filter: invert(100);
  opacity: 0.6;
  
}

.profile-password img{
  padding: 14px; 
  background-color: gray;
  opacity: 0.6;
  margin-bottom: -19px;
  margin-left: 5px;
  filter: invert(100);
}
h5{
  font-weight: 790;
}

.login-button{
  padding: 10px 25px 10px 25px;
  background-color: rgb(64, 64, 64) ;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.create-account{
  padding: 10px 30px 10px 30px;
  background-color: rgb(64, 64, 64) ;
  font-size: 13px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}
.forgotten-password{
  font-size: 14px;
  font-weight: 500;
}