.Register-account {
    color: rgb(89, 86, 86);
    margin-left: 3rem;
    margin-top: 3rem;
    width: 70%;
    
}

.account-create {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.account-p{
    font-size: 14px;
}

.account-2p,
.password,
.Register-newsletter {
    font-size: larger;
    font-weight: 400;
}
.Gen-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 5rem;
    margin-top: 3rem;
}

.Gen-div label,
.password-section label {
    font-weight: 600;
    font-size: 14px;
}

.Gen-div input,
.password-section input {
    
    margin-left: 1rem;
    width: 45rem;
    background-color: rgb(241, 240, 240);
    padding: 0.8rem;
    border-radius: 3px;
    
}

.third-div {
    margin-left: 1.7rem;
}

.Gen-div input::placeholder,
.password-section input::placeholder {
    font-size: smaller;
    font-weight: 600;
    color: rgb(82, 80, 80);
}

.Pass-confirm {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

.password-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 5rem;
    
}
.password2 {
    margin-left: -3.6rem;
}

.subscription {
    display: flex;
    margin-left: 5rem;
    gap: 1rem;
    margin-top: 3rem;
}

.subscription p {
    font-weight: 600;
}

.options {
    margin-left: -10px;
}

.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    float: right;
}
.submit button {
    /* background-color: rgb(158, 154, 154); */
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 4px;
}

.submit p {
    font-size: 14px;
}
.submit span {
    font-weight: 600;
}
.submit span:hover {
    color: orangered;
} 

.navigation-item {
    width: auto;
    position: relative;
    color: rgb(146, 142, 142);
  }
  
  .navigation-item:hover {
    background-color: rgb(234, 228, 228);
    cursor: pointer;
  }
  
  .navigation-divider {
    height: 1px;
    width: 15rem;
    color: gray;
    background-color: gray;
    opacity: 20%;
    margin-left: -10px;
  }
  
.mapped-array {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: rgb(0, 0, 0);
    margin-top: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    width: 18%;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 14px;
}

/*
.mapped-array li {
    width: auto;
    position: relative;
    
}
.mapped-array li:hover {
    background-color: rgb(234, 228, 228);
    cursor:pointer;
    
}
.mapped-array hr {
    height: 1px;
    width: 15rem ;
    color: gray;
    background-color: gray;
    opacity: 20%;
    margin-left: -10px;
   

} */

.Registration {
    display: flex; 
    gap: 3rem;
    margin-bottom: -30rem;
   
}