.Gen-shop-cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: none; 
}

.Gen-shop-cart.show {
    display: block;
}
.cartShow {
    position: fixed;
    top: 200px; 
    left: 355px;    
    width: 45%;
    height: 45%;
    background-color: whitesmoke;
    z-index: 999; 
    
}
.cry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0rem 3rem;
    background-color: var(--bg-color);
    height: 10vh;
    width: auto;
}

.cart-close {
    margin-left: 17rem;
}
.cart-h6 {
    font-size: 15px;
}

.cart-icon {
    width: 1rem;
}

.cart-section {
    color: black;
    display: flex;
    flex-direction: row;
    background-color: rgb(220, 216, 216);
    width: 85%;
    padding: 2.5rem 0.5rem;
    height: 18%;
    margin: 3rem auto;
    align-items: center;
    opacity: 50%;
    
}

.cart-icon-2{
    width: 3rem;
}

.cart-p {
    font-size: 15px;
}