.one {
    
    display: flex;
    align-items: center;
    margin: 2rem 3rem;
    gap: 6rem;
    
}
.Menu-Nav-list {
    
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
       
}

.Log {
    font-size: 13px;
    margin-left: 5rem;
}

/* .Log span:hover {
    color: orangered;
} */
.sign-login:hover {
    color: orangered;
    cursor: pointer;
}

@media (min-width: 993px) {
    .List-icon {
            background-color: brown;
            display: none;
        }

}



@media (max-width:991px) {
    img {
        margin-left: 40%;
        margin-right: 45%;
        
        
        
    }
    .Menu-Nav-list {
        display: none;
    }

    .Log {
        display: none;
    }

  
}

@media (max-width: 480PX)  {
    .Log {
        display: none;
    }

    img {
        margin-left:7rem;
    }
}